{% extends 'base.html' %} {% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="d-flex justify-content-center m-2 p-2">
  <div class="w-75 shadow m-2 p-5">
    <h3 class="headers">Contact US!</h3>
    <p>
      Digital pueblos allow small communities to share information about events,
      stories, local business.

      Fill the contact form
    </p>
    <p> 
        Fill the contact form
      </p>
    <form> 
      
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>

      <a class="btn btn-primary" href="#" role="button"
        >Send &raquo;</a
      >
    </p>
    </form>
  </div>
</div>

</div>
<!-- /container -->

{% endblock %}
