{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="d-flex justify-content-center">
  <div class="shadow m-2 p-5">
    {% if user.is_authenticated %}
    <div class="d-flex"><h3 class="headers">Add new anuncio!</h3></div>

    <form class="post-form" method="POST">
      {% csrf_token %} {{ form | crispy }}
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="cancel" class="btn btn-light">Cancel</button>
    </form>
    {% else %}
    <h3 class=" text-info ">Sign Up to create adds</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
